<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scc230"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:vmSafeMode="true" android:hasCode="true" android:allowTaskReparenting="false">
        <activity
            android:name="com.example.scc230.Feedback_GUI"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FEEDBACK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.scc230.Timetable_GUI"
            android:label="@string/title_activity_timetable__gui" >
            <intent-filter>
                <action android:name="android.intent.action.TIMETABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.scc230.LoginScreen"
            android:label="@string/title_activity_login_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.scc230.Lecturer_Reply_GUI"
            android:label="@string/title_activity_lecturer__reply__gui" >
            <intent-filter>
                <action android:name="android.intent.action.LECTURERREPLY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.scc230.Notifications_GUI"
            android:label="@string/title_activity_notifications__gui" >
            <intent-filter>
                <action android:name="android.intent.action.NOTIFICATIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.scc230.Settings_GUI"
            android:label="@string/title_activity_settings__gui" >
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.scc230.TimetableTest"
            android:label="@string/title_activity_timetable_test" >
            <intent-filter>
                <action android:name="android.intent.action.TIMETABLETEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.scc230.TimetableTest2"
            android:label="@string/title_activity_timetable_test2" >
            <intent-filter>
                <action android:name="android.intent.action.TIMETABLETEST2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
           android:name="com.example.scc230.Settings_Introduction_GUI"
           android:label="@string/title_activity_settings_introduction__gui" >
           <intent-filter>
               <action android:name="android.intent.action.SETTINGSINTRODUCTION" />

               <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
       </activity>
    </application>

</manifest>